{{ define "main" }}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text"><img src="assets/img/logo_text.png" alt="Nofw"></h1>
        <div class="row center">
            <h5 class="header col s12 light">No framework at all!</h5>
        </div>
        <div class="row center">
            <a href="docs/getting-started/" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds up your app</h5>

                    <p class="light">No framework means you are not bound to complex solutions which makes your app blazing fast.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">extension</i></h2>
                    <h5 class="center">High quality components</h5>

                    <p class="light">Nofw is built using well-known, high quality components, like <a href="https://github.com/nikic/FastRoute">FastRoute</a>, <a href="http://php-di.org/">PHP-DI</a> and <a href="https://twig.sensiolabs.org/">Twig</a>.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">code</i></h2>
                    <h5 class="center">Full control</h5>

                    <p class="light">No more hacky solutions if a framework does not support a feature you need, since <i>you</i> write your own framework.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
{{ end }}
